projetc-telegram-bot.json
{
  "name": "My workflow 2 copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "\"Você é o HR Buddy, assistente virtual de RH da ChocolaTech.\nREGRAS:\n\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\nSe encontrado: use os saldos de férias e banco de horas.\nSe não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        -64
      ],
      "id": "b3d03110-fbff-4305-826e-e53dc81b07cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -416,
        144
      ],
      "id": "66c07c97-8c44-4012-8b69-82b535f378f3",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "nT58SF4CNLwmyTjT",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -256,
        144
      ],
      "id": "2d3d556e-30e0-4985-966c-a26bc8915373",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre política de RH, férias, horários e rotinas da empresa Chocolatech.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        80,
        144
      ],
      "id": "d7927b9f-5bbf-4960-a95c-bb2e7413f5ba",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        128,
        352
      ],
      "id": "e92be4c6-4b43-4354-a11d-ec94f8ba24e1",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "nT58SF4CNLwmyTjT",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "funcionarios",
          "mode": "list",
          "cachedResultName": "funcionarios"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        -80,
        144
      ],
      "id": "4c15d12b-81cc-4f17-a03a-8350532f1e25",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "9k3JBL754K1zL3CH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -64
      ],
      "id": "cd75ad15-a880-4ba0-8a7d-19a5e8808986",
      "name": "Telegram Trigger",
      "webhookId": "d807f8e5-28ed-4619-aaaf-be5ce71e3379",
      "credentials": {
        "telegramApi": {
          "id": "k1vYyOFpp8b73QNe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -64
      ],
      "id": "91d6d331-5853-43f1-b76e-b3fb9992f21a",
      "name": "Send a text message",
      "webhookId": "c28e7efa-fad0-4426-8082-32a500949fe3",
      "credentials": {
        "telegramApi": {
          "id": "k1vYyOFpp8b73QNe",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a58fcadd-9b96-4179-bad8-88d0f1bb4ded",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7298cb2b6e9948489aeca6897a5b2565825bace24f5f65844812b47830049ab"
  },
  "nodeGroups": [],
  "id": "3fk9eWGbO3CKwcdp",
  "tags": []
}